<ion-view title="Champion List">
  <ion-content class="padding">

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" data-ng-model="searchChamp">
    </label>

    <br>

		<ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="champ in champs | orderBy: 'name' | filter: searchChamp">

        <img ng-src="{{ champ.img }}">
        <h2>{{ champ.name }}</h2>
        <i class="icon ion-android-add-circle" ng-click="addToTeam(champ)"></i>
        
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
