<ion-view title="Summoners">
  <ion-content class="padding">
    
		<ion-list>
      <ion-item class="item-avatar" ng-click="openChamp(champ)">
        <!-- <img ng-src="{{ champ.image_small }}"> -->
        <h2>Barrier : 210</h2>
      </ion-item>

        <ion-item class="item-avatar" ng-click="openChamp(champ)"><h2>Clense : 210</h2></ion-item>
        <ion-item class="item-avatar" ng-click="openChamp(champ)"><h2>Exhaust : 210</h2></ion-item>
        <ion-item class="item-avatar" ng-click="openChamp(champ)"><h2>Flash : 300</h2></ion-item>
        <ion-item class="item-avatar" ng-click="openChamp(champ)"><h2>Ghost : 210</h2></ion-item>
        <ion-item class="item-avatar" ng-click="openChamp(champ)"><h2>Heal : 240</h2></ion-item>
        <ion-item class="item-avatar" ng-click="openChamp(champ)"><h2>Ignite : 210</h2></ion-item>
        <ion-item class="item-avatar" ng-click="openChamp(champ)"><h2>Smite : 75</h2></ion-item>
        <ion-item class="item-avatar" ng-click="openChamp(champ)"><h2>Teleport : 300</h2></ion-item>
        
    </ion-list>

  </ion-content>
</ion-view>
