<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Home Tab -->
  <ion-tab title="All Champs" icon="icon ion-navicon" on-select="enteringHome()" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Your Game Tab -->
  <ion-tab title="Your Game" icon-off="ion-ios-alarm-outline" icon-on="ion-ios-alarm-outline" badge="gameChamps()" badge-style="badge-assertive" href="#/tab/game">
    <ion-nav-view name="tab-game"></ion-nav-view>
  </ion-tab>

    <!-- Your splash Tab -->
  <ion-tab title="Splash" icon-off="ion-ios-alarm-outline" icon-on="ion-ios-alarm-outline" badge="gameChamps()" badge-style="badge-assertive" href="#/tab/splash">
    <ion-nav-view name="tab-splash"></ion-nav-view>
  </ion-tab>


  <!-- Summoner Spells Tab -->
  <ion-tab title="Summoners" icon="icon ion-ios-color-wand" href="#/tab/summoners">
    <ion-nav-view name="tab-summoners"></ion-nav-view>
  </ion-tab>




</ion-tabs>
