<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Dashboard Tab -->
  <ion-tab title="All Champs" icon="icon ion-navicon" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->
  <ion-tab title="Your Game" icon="icon ion-ios-alarm-outline" href="#/tab/cooldowns">
    <ion-nav-view name="tab-cooldowns"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Summoners" icon="icon ion-ios-color-wand" href="#/tab/summoners">
    <ion-nav-view name="tab-summoners"></ion-nav-view>
  </ion-tab>




</ion-tabs>
